In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('data_analytics.csv')
data.head()

,Event Date,App Apple ID,Subscription Name,Standard Subscription Duration,Promotional Offer Name,Promotional Offer ID,Subscription Offer Type,Subscription Offer Duration,Marketing Opt-In Duration,Customer Currency,Proceeds Currency,Device,Country,Subscriber ID,Subscriber ID Reset,Refund,Purchase Date,Units
0,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,IDR,IDR,iPhone,ID,223411322456765433,NaN,NaN,NaN,1
1,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,USD,USD,iPhone,US,223411322456765434,NaN,NaN,NaN,1
2,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,INR,INR,iPhone,IN,223411322456765435,NaN,NaN,NaN,1
3,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,GBP,GBP,iPhone,GB,223411322456765437,NaN,NaN,NaN,1
4,2019-07-15,1,weekly 9.99 + 7D trial,7 Days,NaN,NaN,Free Trial,7 Days,NaN,INR,INR,iPhone,IN,223411322456765438,NaN,NaN,NaN,1

In [22]:
data['Subscriber ID'].value_counts()

223411322456765437    6
223411322456766573    6
223411322456766564    6
223411322456766566    6
223411322456766560    6
                     ..
223411322456766510    1
223411322456766508    1
223411322456766498    1
223411322456766496    1
223411322456766781    1
Name: Subscriber ID, Length: 1019, dtype: int64

In [23]:
unique_ids = data['Subscriber ID'].unique()
print(len(unique_ids))

1019

In [24]:
data.shape

(2380, 18)

In [25]:
data['Subscription Offer Type'].value_counts()

Free Trial    1019
Name: Subscription Offer Type, dtype: int64

In [26]:
df_count = data['Subscriber ID'].value_counts().to_frame(name='Count')
conv_list = [1019]
for i in range(1,6):
    conv_list.append(len(df_count[df_count['Count']>i]))

In [35]:
conversion = []
for i in range(len(conv_list)-1):
    conversion.append(conv_list[i+1]/conv_list[i])
    
print('Conversions from purchase to purchase '+', '.join([str(round(conv,2)) for conv in conversion]))

first = 9.99 * 0.7

Conversions from purchase to purchase 0.49, 0.71, 0.74, 0.59, 0.59

In [29]:
result = [first]
for con in conversion:
    result.append(result[-1]*con)
    

print(f"LTV ={round(sum(result),2)}")

LTV =16.33